{% load static %}
<!-- This entire header will only be displayed if a user is logged in -->
{% if user.is_authenticated %}
<header class="top-nav p-3 d-flex justify-content-end align-items-center">
    
    <div class="dropdown">
        <!-- The button that triggers the dropdown menu -->
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{% static 'myapp/images/avatar_placeholder.png' %}" alt="User Avatar" width="35" height="35" class="rounded-circle me-2">
            <strong>{{ user.get_full_name|default:user.username }}</strong>
        </a>

        <!-- The Dropdown Menu -->
        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end text-small shadow">
            <li><a class="dropdown-item" href="#">
                <i class="fa-solid fa-user-gear me-2"></i>Profile
            </a></li>
            <li><a class="dropdown-item" href="#">
                <i class="fa-solid fa-sliders me-2"></i>Settings
            </a></li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <a class="dropdown-item" href="{% url 'logout' %}">
                    <i class="fa-solid fa-right-from-bracket me-2"></i>Sign out
                </a>
            </li>
        </ul>
    </div>

</header>
{% endif %}